@inherits LayoutComponentBase

<div class="p-0 m-0 container-fluid" style="position:relative;">
	@Body
	<div class="p-0 m-0 w-100" style="position:fixed; bottom:0; over-flow:hidden;">
		<div class="row">
			<div class="col-12 p-0 m-0">
				<div class="container border-top pt-2">
					<ul class="p-0 m-0 d-flex flext-row justify-content-center">
						<li class="p-3 m-0">Copyright@2023</li>
						<li class="p-3 m-0"><span class="bi-dot"></span></li>
						<li class="p-3 m-0">Copyright 2023</li>
						<li class="p-3 m-0"><span class="bi-dot"></span></li>
						<li class="p-3 m-0">Copyright 2023</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
