@inherits LayoutComponentBase
@inject NavigationManager Navigation
@inject UserManager<UserModel> UserManager
@inject SignInManager<UserModel> SignInManager
@inject IHttpContextAccessor HttpContextAccessor

<PageTitle>BARAZAIS</PageTitle>

<AuthorizeView>
    <Authorized>
        <div class="page" style="position:relative !important;">
            <div class="sidebar">
                <NavMenu />
            </div>
            <main class="">
                 <LoginDisplay />
                <div class="px-4">
                    @Body
                </div>
            </main>
        </div>
    </Authorized>
    <NotAuthorized>
        <LoginIndex/>
    </NotAuthorized>
</AuthorizeView>  

@code{
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        var User = HttpContextAccessor.HttpContext.User;
    }
}