<div class="row text-start">
    <div class="col-12 d-flex flex-row flex-wrap justify-content-start">
        <ul class="p-0 m-0 d-flex flex-row justify-content-start flex-wrap">
            <li class="p-0 m-0 me-2">
                <div class="form-floating mt-2 rounded-3">
                    <input @bind=@FromDate @bind:event="onchange" type="date" style="font-size:0.8rem !important" class="form-control border-0 text-unique fw-bolder rounded-0 " id="floatingInput" placeholder="From Date" />
                    <label for="floatingInput" class="text-unique">
                        From Date
                    </label>
                </div>
            </li>
            <li class="p-0 m-0 me-2">
                <div class="form-floating mt-2 rounded-3">
                    <input @bind=@ToDate @bind:event="onchange" type="date" style="font-size:0.8rem !important" class="form-control border-0 text-unique fw-bolder rounded-0 " id="floatingInput" placeholder="To Date" />
                    <label for="floatingInput" class="text-unique">
                        To Date
                    </label>
                </div>
            </li>
            <li>
                <button class="btn btn-md btn-success" @onclick="ChangeDate">filter</button>
            </li>
        </ul>
    </div>
</div>

@code {
    [Parameter]
    public DateOnly FromDate {get; set;}
    
    [Parameter]
    public DateOnly ToDate {get; set;}
    
    [Parameter]
    public EventCallback<MouseEventArgs> ChangeDate { get; set; }
}