@page "/Staffs/New"
@page "/Staffs/Edit/{Sn:int}"

@inject IDbContextFactory<BarazaContext> MyFactory
@inject NavigationManager Navigation
@inject IHttpContextAccessor Accessor
@inject UserManager<UserModel> UserManager

<h3>Staff Management</h3>

@code {

}