<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> BARAZAIS : @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/LoginPageCss.css" />
    <link rel="stylesheet" href="~/css/icons-1.8.0/font/bootstrap-icons.css" />
</head>
<body>
    <div class="container-fluid">
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <script src="~/css/bootstrap/js/bootstrap.bundle.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>