@page 
@model LoginModel

@{
    ViewData["Title"] = "Login";
}

<div class="container py-3">
    <div class="row">
        <div class="col-12 ">
            <ul class="list-unstyled">
                <li>
                    <h2 class="UniqueText">BARAZA IS</h2>
                </li>
                <li>
                    <p class="UniqueText"><span class="bi-person-fill me-2"></span> User Login</p>
                </li>
            </ul>
            <hr />
        </div>
        <div class="col-12">
            <form method="post" autocomplete="off">
                <div class="row">
                    <div class="col-12">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    </div>
                    <div class="col-md-6 col-12 ">
                        <div class=" rounded-3 py-3">
                            <div class="form-floating mt-2 rounded-3">
                                <input type="email" asp-for="Input.Email" class="form-control border-0 bg-blue UniqueText rounded-0 " id="Input.Email" placeholder="User name" />
                                <label for="Input.Email" class="">
                                    <span class="bi-person me-2"></span> Email
                                </label>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-floating mt-2 rounded-3">
                                <input type="password" asp-for="Input.Password" class="form-control border-0 bg-blue UniqueText rounded-0 " id="Input.Password" placeholder="Password" />
                                <label for="Input.Password" class="">
                                    <span class="bi-lock me-2"></span> Password
                                </label>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div>
                                <ul class="d-flex flex-row m-0 p-0 justify-content-between list-unstyled">
                                    <li class="p-0 m-0">
                                        <button class="btn btn-md btn-primary rounded-0 mt-2 border-0">
                                            Log In
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 mt-md-0 mt-2">
                        <div class=" rounded-3 py-3">
                            <ul class=" m-0 p-0 list-unstyled text-md-end text-start">
                                <li class="p-0 m-0">
                                    <a class="text-muted btn btn-md  mb-2 border rounded" href="Register">.. Forgot Password?, <span class="text-primary">Reset</span></a>
                                </li>
                                <li class="p-0 m-0">
                                    <a class="text-muted btn btn-md  mt-2 border rounded" href="Register">.. New User?, <span class="text-primary">Registration</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

