@page
@model RegisterModel

@{
    ViewData["Title"] = "BARAZA IS - Registration";
}

<div class="container py-3">
    <div class="row">
        <div class="col-12">
            <ul class="list-unstyled">
                <li>
                    <h2 class="UniqueText">BARAZA IS</h2>
                </li>
                <li>
                    <p class="UniqueText"><span class="bi-person-fill me-2"></span> User Registration <span class="opacity-75">(New Business Owner)</span></p>
                </li>
            </ul>
            <hr />
        </div>
        <div class="col-12">
            <form method="post" autocomplete="off">
                <div class="row">
                    <div class="col-12 pt-2">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    </div>
                    <div class="col-md-6 col-12 ">
                        <div class=" rounded-3 py-3">
                            <div class="form-floating rounded-3">
                                <input type="text" asp-for="Input.FirstName" class="form-control UniqueText border-0 bg-blue rounded-0 " id="FirstName" placeholder="User name" />
                                <label for="FirstName" class="">
                                    <span class="bi-person me-2"></span> First Name
                                </label>
                                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-floating mt-2 rounded-3">
                                <input type="text" asp-for="Input.LastName" class="form-control UniqueText border-0 bg-blue rounded-0 " id="LastName" placeholder="User name" />
                                <label for="LastName" class="">
                                    <span class="bi-person me-2"></span> Last Name
                                </label>
                                <span asp-validation-for="Input.LastName" class="text-danger"></span>
                            </div>
                            <div class="form-floating mt-2 rounded-3">
                                <input type="email" asp-for="Input.Email" class="form-control UniqueText border-0 bg-blue rounded-0 " id="Email" placeholder="User name" />
                                <label for="Email" class="">
                                    <span class="bi-at me-2"></span> Email
                                </label>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-floating mt-2 rounded-3">
                                <input type="password" asp-for="Input.Password" class="form-control UniqueText border-0 bg-blue rounded-0 " id="Password" placeholder="Password" />
                                <label for="Password" class="">
                                    <span class="bi-lock me-2"></span> Password
                                </label>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-floating mt-2 rounded-3">
                                <input type="password" asp-for="Input.ConfirmPassword" class="form-control UniqueText border-0 bg-blue rounded-0 " id="ConfirmPassword" placeholder="ConfirmPassword" />
                                <label for="ConfirmPassword" class="">
                                    <span class="bi-lock me-2"></span> Confirm Password
                                </label>
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class=" rounded-3 py-3">
                            <div class="form-floating rounded-3">
                                <input type="text" asp-for="Input.BussinesName" class="form-control UniqueText border-0 bg-blue rounded-0 " id="BussinesName" placeholder="Bussines Name" />
                                <label for="BussinesName" class="">
                                    <span class="bi-briefcase me-2"></span> Business Name
                                </label>
                                <span asp-validation-for="Input.BussinesName" class="text-danger"></span>
                            </div>
                            <div class="form-floating mt-2 rounded-3">
                                <textarea asp-for="Input.Location" rows="3" class="form-control UniqueText border-0 bg-blue rounded-0 h-50" id="Location" placeholder="Location" > </textarea>
                                <label for="Location" class="">
                                    <span class="bi-pin-map me-2"></span> Location
                                </label>
                                <span asp-validation-for="Input.Location" class="text-danger"></span>
                            </div>
                            <ul class="d-flex flex-row m-0 p-0 justify-content-between list-unstyled">
                                <li class="p-0 m-0">
                                    <button type="submit" class="btn btn-md btn-primary rounded-0 mt-2 border-0">
                                        Register
                                    </button>
                                </li>
                            </ul>
                            <div class="py-4"></div>
                            <ul class=" m-0 p-0 list-unstyled d-flex flex-row justify-content-start border-top">
                                <li class="p-0 m-0 pt-3">
                                    <a class="text-muted btn btn-md border rounded" href="Login" style="width:fit-content">
                                        .. Already have an Account?, <span class="text-primary">Login</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
