@page
@model RegisterModel

@{
    ViewData["Title"] = "Registration";
}

<div class="container py-3">
    <div class="row">
        <div class="col-12">
            <h2>Registration</h2>
            <hr />
        </div>
        <div class="col-12">
            <form method="post">
                <div class="row">
                    <div class="col-12 pt-2">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    </div>
                    <div class="col-md-6 col-12 ">
                        <div class=" rounded-3 p-3">
                            <div class="form-floating rounded-3">
                                <input type="text" asp-for="Input.FirstName" class="form-control border bg-xss text-unique fw-bolder rounded " id="FirstName" placeholder="User name" />
                                <label for="FirstName" class="text-unique">
                                    <span class="bi-person me-2"></span> First Name
                                </label>
                                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-floating mt-2 rounded-3">
                                <input type="text" asp-for="Input.LastName" class="form-control border bg-xss text-unique fw-bolder rounded " id="LastName" placeholder="User name" />
                                <label for="LastName" class="text-unique">
                                    <span class="bi-person me-2"></span> Last Name
                                </label>
                                <span asp-validation-for="Input.LastName" class="text-danger"></span>
                            </div>
                            <div class="form-floating mt-2 rounded-3">
                                <input type="email" asp-for="Input.Email" class="form-control border bg-xss text-unique fw-bolder rounded " id="Email" placeholder="User name" />
                                <label for="Email" class="text-unique">
                                    <span class="bi-person me-2"></span> Email
                                </label>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-floating mt-2 rounded-3">
                                <input type="password" asp-for="Input.Password" class="form-control border bg-xss text-unique fw-bolder rounded " id="Password" placeholder="Password" />
                                <label for="Password" class="text-unique">
                                    <span class="bi-lock me-2"></span> Password
                                </label>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-floating mt-2 rounded-3">
                                <input type="password" asp-for="Input.ConfirmPassword" class="form-control border bg-xss text-unique fw-bolder rounded " id="ConfirmPassword" placeholder="ConfirmPassword" />
                                <label for="ConfirmPassword" class="text-unique">
                                    <span class="bi-lock me-2"></span> Confirm Password
                                </label>
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                            <ul class="d-flex flex-row m-0 p-0 justify-content-between list-unstyled">
                                <li class="p-0 m-0">
                                    <button type="submit" class="btn btn-md btn-primary rounded mt-2 border-0">
                                        Register
                                    </button>
                                </li>
                                <li class="p-0 m-0">
                                    <a class="text-muted btn btn-md mt-2 fst-italic" href="Login">Login here</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
