/* _content/BARAZAIS/Pages/LoginPage/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-pp0fe4gr8i] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-pp0fe4gr8i] {
  color: #0077cc;
}

.btn-primary[b-pp0fe4gr8i] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-pp0fe4gr8i], .nav-pills .show > .nav-link[b-pp0fe4gr8i] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-pp0fe4gr8i] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-pp0fe4gr8i] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-pp0fe4gr8i] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-pp0fe4gr8i] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-pp0fe4gr8i] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/BARAZAIS/Shared/MainLayout.razor.rz.scp.css */
.page[b-qncckgdykw] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-qncckgdykw] {
    flex: 1;
}

.sidebar[b-qncckgdykw] {
    /*background-color: #145697;*/
    background-color: #1f5081;
    overflow-y: scroll;
}

.top-row[b-qncckgdykw] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-qncckgdykw]  a, .top-row[b-qncckgdykw]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

        .top-row[b-qncckgdykw]  a:hover, .top-row[b-qncckgdykw]  .btn-link:hover {
            text-decoration: underline;
        }

        .top-row[b-qncckgdykw]  a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

/*@media (max-width: 640.98px) */
@media (max-width: 1025px) {
    .top-row:not(.auth)[b-qncckgdykw] {
        display: none;
    }

    .top-row.auth[b-qncckgdykw] {
        justify-content: space-between;
    }

    .top-row[b-qncckgdykw]  a, .top-row[b-qncckgdykw]  .btn-link {
        margin-left: 0;
    }
}

/*@media (min-width: 641px) {*/
@media (min-width: 1025px) {
    .page[b-qncckgdykw] {
        flex-direction: row;
    }

    .sidebar[b-qncckgdykw] {
        width: 240px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-qncckgdykw] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-qncckgdykw], article[b-qncckgdykw] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/BARAZAIS/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-ktsvoz6fsx] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-ktsvoz6fsx] {
    background-color: rgba(0,0,0,0.4);
}
.UserData[b-ktsvoz6fsx] {
    background-color: rgba(0,0,0,0.1);
}

.navbar-brand[b-ktsvoz6fsx] {
    font-size: 1.1rem;
}

.oi[b-ktsvoz6fsx] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-ktsvoz6fsx] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-ktsvoz6fsx] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-ktsvoz6fsx] {
        padding-bottom: 1rem;
    }

    .nav-item[b-ktsvoz6fsx]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-ktsvoz6fsx]  a.active {
    /*background-color: rgba(255,255,255,0.1);*
    background-color: #c9c9c95b;
    color: white;*/
    
    background-color: #074079;
    color: #fff !important;
    font-weight:500 !important;
}

.nav-item[b-ktsvoz6fsx]  a.active > span {
    color: #fff !important;
    font-weight:500 !important;
    opacity: 1 !important;
}

.nav-item[b-ktsvoz6fsx]  a:hover {
    /*background-color: rgba(255,255,255,0.1);*/
    background-color: #c9c9c94d;
    color: #3f5870 !important;
}

@media (min-width: 1025px) {
    .navbar-toggler[b-ktsvoz6fsx] {
        display: none;
    }

    #Alone[b-ktsvoz6fsx] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
/* _content/BARAZAIS/Shared/Sparenav.razor.rz.scp.css */
.nav-item[b-m2ed9lwwzv] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-m2ed9lwwzv] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-m2ed9lwwzv] {
        padding-bottom: 1rem;
    }

    .nav-item[b-m2ed9lwwzv]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-m2ed9lwwzv]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-m2ed9lwwzv]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}
