@inherits LayoutComponentBase


<PageTitle>BARAZAIS</PageTitle>

<AuthorizeView>
    <Authorized>
        <div class="page" style="position:relative !important;">
            <div class="sidebar">
				<NavMenu />
            </div>
            <main class="">
                <div class="px-4">
                    @Body
                </div>
            </main>
        </div>
    </Authorized>
    <NotAuthorized>
        <LoginCaller/>
    </NotAuthorized>
</AuthorizeView>  

@code{

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();

	}
}